@import "tailwindcss";

@theme {
  --color-primary-100: #d9e9cf;
  --color-primary-200: #b6ceb4;
  --color-primary-300: #96a78d;
  --color-primary-400: #4d4d4d;
  --color-background: #f0f0f0;
  --radius: 0.5rem;
}
